@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.profile_img{
  border-radius: 275px;
}

.link_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  text-align: center;
  width: 100%;
}

.link{
  background-color: #EAECF0;
  padding: 24px 32px;
  width: 100%;
  max-width: 1152px;
  /* margin: auto; */
}

.link:hover{
  background-color: #d4d5d6;
  scale: 1.03;
}

.icon{
  margin: 0 10px;
}

.desktop_share{
  position: absolute;
  top: 0px;
  right: 30px;
  cursor: pointer;
  display: none;
}

.mobile_share{
  position: absolute;
  top: 0px;
  right: 30px;
  cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@media screen and (min-width: 700px) {
  .desktop_share{
    display: block;
  }
  
  .mobile_share{
    display: none;
  }
}
